
.container{
    background: wheat;
    display: flex;
}
.container .btn{
    text-align: center;
}
button{
    font-size: 23px;
    background: gainsboro;
    border-radius: 8px;
    margin: 12px;
    padding: 12px;
}
.container p button:hover{
    cursor: pointer;
    font-weight: bold;
}
.container p{
    padding: 5px;
}
.container img{
    padding: 5px;
    border-radius:23px;
    height: 45vh;
}