*{
    padding: 0;
    margin: 0;
}
.logo{
    margin-left: 60px;
    width: 60px;
}
.nave-bar{
    background: rgb(78, 7, 7);
    height: 67px;
    display: flex;
    border: black solid;
    justify-content: space-between;
}
#left{
    color: white;
    font-size: 22px;
    margin: 14px;
}
#left .logo:hover{
    width: 70px;
}
#right{
    margin-right: 28px;
}
div #right ul{
    list-style-type: none; 
    text-decoration: none;
    display: flex;
}
div #right a{
    color: white;
    list-style-type: none; 
    text-decoration: none;
}
div #right a:hover{
    color: grey;
    font-size: .8em;
}
div #right ul li{
    text-decoration: none;
    font-size: 20px;
    margin: 14px;
}
div #login{
    margin: 14px;
    margin-right: 60px;
    padding: 2px 10px;
    font-size: 22px;
    color: wheat;
    border: black;
    border-radius: 5px;
    background-color: brown;
}


