
.partners{
    width: 100vw;
    background: black;
    color: white;
    display: flex;
}
.partners img{
    width: 45vw;
}
.partners button{
    margin: 0;
    padding: 10px;
    font-size: 18px;
    background: rgb(229, 7, 7);
}
.partners .left{
    padding: 15px;
    font-size: 25px;
}
