.home {
  position: relative;
  text-align: center;
  color: white;
}
.home img{
  width: 100vw;
}

  .top-left {
    font-weight: bold;
    font-size: 27px;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  span{
    color: brown;
  }